<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css"/>
    <!-- <script src="main.js"></script> -->
</head>
<body style="background-color: #95a5a6;position: absolute;top: 50%;left: 50%;width: 500px;height: 500px;margin-top: -250px;margin-left: -250px;">
        <div align="">
   <div class="container" style="margin-bottom: : -150%;">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="">
              <h1> Student Result System </h1>
              <div class="">
                  {{ form.username.label(class="form-control-label") }}

                  {% if form.username.errors %}
                      {{ form.username(class="form-control form-control-lg is-invalid") }}
                      <div class="">
                          {% for error in form.username.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.username(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="">
                  {{ form.email.label(class="form-control-label") }}
                  {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="">
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="">
                  {{ form.password.label(class="form-control-label") }}
                  {% if form.password.errors %}
                      {{ form.password(class="form-control form-control-lg is-invalid") }}
                      <div class="">
                          {% for error in form.password.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.password(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="">
                  {{ form.confirmpassword.label(class="form-control-label") }}
                  {% if form.confirmpassword.errors %}
                      {{ form.confirmpassword(class="form-control form-control-lg is-invalid") }}
                      <div class="">
                          {% for error in form.confirmpassword.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.confirmpassword(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              {{ form.signup(class="btn btn-outline-info") }}
          </fieldset>
          <div class="">
          </div>

          
</html>